<ion-view view-title="create" name="create-view">
  <ion-content class="padding" >
    
	 <div class="list list-inset">

          <label class="item item-input">
            Username : <input type="text" placeholder=" John123" ng-model="data.username">
          </label>
          
          <label class="item item-input">
            Password : <input type="password" placeholder=" Password" ng-model="data.password">
          </label>
          
          <label class="item item-input">
            Email : <input type="text" placeholder=" john@suhr.com" ng-model="data.email">
          </label>

          <label class="item item-input">
            Nom : <input type="text" placeholder=" John" ng-model="data.nom">
          </label>

          <label class="item item-input">
           Prenom :  <input type="text" placeholder=" John"  ng-model="data.prenom">
          </label>      
  </div>
      <button class="button button-block button-positive" ng-click="submit(data)">Subit</button>

  </ion-content>
</ion-view>