<ion-view view-title="Dashboard" name="dashboard-view" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Déconnexion</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Bienvenue {{username}}!</h3>
      Voici la liste des eventements
      <br><br><br>

      <div class="list card" ng-repeat="event in events">
        <div class="item item-avatar">
            <img src="img/profile.png">
            <h2>{{event.title}}</h2>
            <p>{{event.category}}</p>
          </div>

          <div class="item item-body">
            <h2>{{event.date}}</h2>
            <img class="full-image" src="img/event.png">
            <p>
            {{event.desc}}
            </p>
            <p>
              <a href="#" class="subdued">participer</a>
              <a href="#" class="subdued">{{event.particips.length}} participant(s)</a>
            </p>
          </div>
      </div>



    </div></div>
  </ion-content>
  <div class="float-button">
  <span class="height-fix">
    <a name="add-trip" class="content">

        <button class="button" ng-click="showActionsheet()"><img src="img/floating.png" style="width:50px;"></button>

    </a>
  </span>
</div>
</ion-view>
