<ion-view view-title="Dashboard" name="dashboard-view" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Déconnexion</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      This could be your Dashboard.
      <br><br><br>

      <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h2>Toto</h2>
          <p>Nine Inch Nails </p>
        </a>
      </div>

       
    </div></div>
  </ion-content>
</ion-view>
