<ion-view view-title="Evenement" name="evenement-view" cache-view="false">
  <ion-content class="padding" >
	 <div class="list">

          <label class="item item-input">
           <input type="text" placeholder="Titre"  ng-model="event.title">
          </label>

          <label class="item item-input large">
            <input type="text" placeholder="Description"  ng-model="event.desc">
          </label>

          <label class="item item-input">
             <input type="date" data-date-format="dd/MM/yyyy" placeholder="dd/MM/yyyy"  value="{{date | date:dd/MM/yyyy}}" ng-model="event.date">
          </label>
          <label class="item">
            Categorie :
            <i>{{event.category}}</i>
          <button style="float:right"  class="button button-positive" modal-select="" ng-model="event.category" options="selectables" modal-title="Choisir une categorie" has-search="true">
              Choisir
              <div class="option">
                {{option}}
              </div>
            </button>
            </label>

            <br><br>
<label class="item">
            <div > Logo
            <input style="float:right" type="file" placeholder="Image"   ng-model="event.image" style="float:right;">
            </div>
  </label>


  </div>

<br><br>
<button class="button button-block button-positive" ng-click="saveEvent(event)">Valider</button>

  </ion-content>
</ion-view>
